img {
    width: 500px;
}

@media (max-width: 900px) {
    img {
      width: 350px;
    }

    figcaption {
        color: red;
    }
  }

@media (max-width: 600px) {
    img {
      width: 150px;
    }

    figcaption {
        color: darkmagenta;
    }
  }